.vertical-middle-wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

#app-bar {
  z-index: 20;
}

#chart {
  padding-top: 1em;
}

.history {
  padding-top: 2em;
}
