<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="/view/css/index.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>cryptocurrency trading bot</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-app-bar
          color="green"
          dark
        >
          <v-toolbar-title>cryptocurrency trading bot</v-toolbar-title>
        </v-app-bar>

        <v-container>
          <!-- パラメータ入力フォーム．enterでリロードされるのを回避 -->
          <v-form @submit.prevent>
            <v-container>
              <!-- limit -->
              <v-row>
                <v-col
                  cols="1"
                ></v-col>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle text-body-2 text-md-body-1">
                      limit
                    </p>
                  </div>
                </v-col>
                <v-col
                  cols="6"
                  md="3"
                >
                  <v-text-field
                    v-model="config.limit"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- sma -->
              <v-row>
                <v-col
                  cols="1"
                >
                  <div class="vertical-middle-wrapper">
                    <v-simple-checkbox
                      v-model="config.sma.enable"
                      color="primary"
                      class="vertical-middle"
                    ></v-simple-checkbox>
                  </div>
                </v-col>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle text-body-2 text-md-body-1">
                      SMA
                    </p>
                  </div>
                </v-col>
                <v-col
                  v-for="(smaPeriod, smaIndex) in config.sma.periods"
                  :key="smaPeriod.id"
                  cols="3"
                >
                  <v-text-field
                    v-model="config.sma.periods[smaIndex]"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- ema -->
              <v-row>
                <v-col
                  cols="1"
                >
                  <div class="vertical-middle-wrapper">
                    <v-simple-checkbox
                      v-model="config.ema.enable"
                      color="primary"
                      class="vertical-middle"
                    ></v-simple-checkbox>
                  </div>
                </v-col>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle text-body-2 text-md-body-1">
                      EMA
                    </p>
                  </div>
                </v-col>
                <v-col
                  v-for="(emaPeriod, emaIndex) in config.ema.periods"
                  :key="emaPeriod.id"
                  cols="3"
                >
                  <v-text-field
                    v-model="config.ema.periods[emaIndex]"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- bbands -->
              <v-row>
                <v-col
                  cols="1"
                >
                  <div class="vertical-middle-wrapper">
                    <v-simple-checkbox
                      v-model="config.bbands.enable"
                      color="primary"
                      class="vertical-middle"
                    ></v-simple-checkbox>
                  </div>
                </v-col>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle text-body-2 text-md-body-1">
                      BBands
                    </p>
                  </div>
                </v-col>
                <v-col
                  cols="3"
                >
                  <v-text-field
                    v-model="config.bbands.n"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="3"
                >
                  <v-text-field
                    v-model="config.bbands.k"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- ichimoku -->
              <!-- rsi -->
              <v-row>
                <v-col
                  cols="1"
                >
                  <div class="vertical-middle-wrapper">
                    <v-simple-checkbox
                      v-model="config.rsi.enable"
                      color="primary"
                      class="vertical-middle"
                    ></v-simple-checkbox>
                  </div>
                </v-col>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle text-body-2 text-md-body-1">
                      RSI
                    </p>
                  </div>
                </v-col>
                <v-col
                  cols="3"
                >
                  <v-text-field
                    v-model="config.rsi.period"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- macd -->
              <v-row>
                <v-col
                  cols="1"
                >
                  <div class="vertical-middle-wrapper">
                    <v-simple-checkbox
                      v-model="config.macd.enable"
                      color="primary"
                      class="vertical-middle"
                    ></v-simple-checkbox>
                  </div>
                </v-col>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle text-body-2 text-md-body-1">
                      MACD
                    </p>
                  </div>
                </v-col>
                <v-col
                  v-for="(macdPeriod, macdIndex) in config.macd.periods"
                  :key="macdPeriod.id"
                  cols="3"
                >
                  <v-text-field
                    v-model="config.macd.periods[macdIndex]"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- backtest -->
              <v-row>
                <v-col
                  cols="1"
                >
                  <div class="vertical-middle-wrapper">
                    <v-simple-checkbox
                      v-model="config.backtest.enable"
                      color="primary"
                      class="vertical-middle"
                    ></v-simple-checkbox>
                  </div>
                </v-col>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle text-body-2 text-md-body-1">
                      backtest
                    </p>
                  </div>
                </v-col>
              </v-row>
              <!-- update button -->
              <v-row>
                <v-col
                  cols="8"
                  md="4"
                >
                  <v-btn
                    block
                    @click="update"
                  >
                    update chart
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>

          <!-- ${ candle } -->
          <div id="chart" v-if="candle">
            <apexchart
              height="400"
              :options="chartOptions"
              :series="series"
            ></apexchart>

            <div v-if="candle.backtestEvents">
              <p class="text-body-1 font-weight-bold">
                backtest profit: ${ candle.backtestEvents.profit }
              </p>
            </div>
          </div>

        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
  <script src="/view/js/index.js"></script>
</body>
</html>
