<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="/view/css/index.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>cryptocurrency trading bot</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-app-bar
          color="green"
          dark
        >
          <v-toolbar-title>cryptocurrency trading bot</v-toolbar-title>
        </v-app-bar>

        <v-container>
          <!-- パラメータ入力フォーム．enterでリロードされるのを回避 -->
          <v-form @submit.prevent>
            <v-container>
              <!-- limit -->
              <v-row>
                <v-col
                  cols="2"
                  md="1"
                >
                  <div class="vertical-middle-wrapper">
                    <p class="vertical-middle">
                      limit
                    </p>
                  </div>
                </v-col>
                <v-col
                  cols="6"
                  md="3"
                >
                  <v-text-field
                    v-model="config.limit"
                    dense
                    hide-details
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- update button -->
              <v-row>
                <v-col
                  cols="8"
                  md="4"
                >
                  <v-btn
                    block
                    @click="update"
                  >
                    update chart
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>

          <!-- ${ candle } -->
          <div id="chart" v-if="candle">
            <apexchart
              height="400"
              :options="chartOptions"
              :series="series"
            ></apexchart>
          </div>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
  <script src="/view/js/index.js"></script>
</body>
</html>
